
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    flex-flow: column nowrap;
    display: flex;
    position: relative;
    line-height: 1;
    background-color: black;
}

#content {
    flex: 1 0 auto;
    padding: 2%;
    max-width: 1584px;
    margin: 0 auto;
    background: black;
    display: flex;
    flex-flow: column nowrap;
}

.link {
    padding: .5rem;
}

.link:hover {
    color: black;
    background-color: white;
}

.section {
    padding-bottom: 80px;
}

.card-container {
    column-gap: 24px;
    display: grid;
    row-gap: 24px;
    margin-right: auto;
    margin-left: auto;
}

.card-container-full {
    width: 80%;
    display: grid;
    row-gap: 24px;
    margin-right: auto;
    margin-left: auto;
}

.card-text-container {
    width: 67%;
    float:right;
    padding: 2rem;
}

.card-modal-text-container {
    z-index: 00;
    width: 100%;
    padding: 2rem;
}

.card-subtitle-full {
    font-family: "Inconsolata"; font-size: 2rem; font-weight: 500; color: white;
}

.card-label {
    font-family: "Inconsolata"; font-size: .8rem; font-weight: 500; color: rgb(133, 133, 133); letter-spacing: .2rem;
    padding-top: 2rem;
    padding-bottom: 0;
}

.card-text {
    font-family: "Inconsolata"; font-size: 1.2rem; font-weight: 100; color: white; letter-spacing: 0;
    margin-top: -.25rem;
}

.card-title {
    font-family: "Inconsolata"; font-size: 1.5rem; font-weight: 100; color: white; letter-spacing: .35rem;
    margin-left: 10%;
    margin-bottom: 30px;
}

.card {
    border: 1px solid white;
    height: 500px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.card:hover > .card-subtitle {
    background-color: white;
    color: black;
}

.card:hover > .card-subtitle-black {
    background-color: black;
    color: white;
}

.card-contact:hover > .card-subtitle {
    background-color: white;
    color: black;
}


.card-contact {
    border: 1px solid white;
    height: 500px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

#courses {
    grid-column: 2;
    grid-row: 2/span 2;
}

#invovlements {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-full {
    border: 1px solid white;
    height: 500px;
    position: relative;
    z-index: 0;
}

.card-modal {
    z-index: 0;
}

.card-image-full {
    height: 100%;
    position: absolute;
    object-fit: cover;
    top:0; left:0;
    z-index: -1;
}

.card-text-fullwidth {
    grid-column: 1/span 2;
}

.card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top:0; left:0;
    z-index: -1;
}

.card-subtitle {
    font-family: "Inconsolata"; font-size: 1.5rem; font-weight: 300; color: white; letter-spacing: 0;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    z-index: 0;
}

.card-subtitle-black {
    font-family: "Inconsolata"; font-size: 1.5rem; font-weight: 300; color: white; letter-spacing: 0;
    color: black;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    z-index: 0;
}

header {
    max-width: 1584px;
    margin:0 auto;
    padding: 1rem 2%;
    width: 100%;
    position: relative;
    z-index: 000;
    display: block;
}

.header-frame {
    border: 1px solid white;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    overflow: visible;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-family: "Inconsolata";
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: .5rem;
    color: white;
}

.header-nav {
    display: flex;
}

.header-nav-list {
    display: flex;
}

.header-nav-list-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: inital;
}

.header-nav-list-item {
    font-family: "Inconsolata"; font-size: 1.6rem; font-weight: 200; color: white; letter-spacing: 0.2rem;
    margin-bottom: 0; margin-top: 0; margin-left: .5rem;
    cursor: pointer;
    padding-left: 1rem; padding-right: 1rem;
}

.header-nav-list-link:hover {
    color: black;
    background-color: white;
}

.header-nav-list-link {
    color: white;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

footer {
    margin: auto auto 0;
    width: 100%;
    padding: 1rem 2%;
    max-width: 1584px;
    position: relative;
    z-index: 000;
    display: block;
}
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 1rem 2rem;
    margin: 0 auto;
}
.copyright {
    font-family: "Inconsolata"; font-size: 1rem; font-weight: 200; color: white;
}

.pagination-item:not(:last-of-type) {

    margin-left: 1rem;
}

.returnLink {
    position: fixed;
    bottom: 0;
    font-family: "Inconsolata"; font-size: 2rem; font-weight: 200; color: white;
    z-index: 50;
    left: 50%;
    transform: translateX(-50%);
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: .5rem;
}

.returnLink:hover {
    background-color: white;
    color: black;
}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .card-image-full {
        width: 100%;
        filter: brightness(50%);
    }
    .card-title {
        margin-left: 0;
    }
    .header-frame {
        width: 100%;
    }
    #content {
        width: 100%;
    }
    .header-nav-list-menu {
        display: none;
    }
    .footer {
        width: 100%;
    }
    .card-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .card-container-full {
        width: 100%;
    }
    .mobile-only {
        display: inline;
    }
}

@media only screen 
and (min-width : 321px) {
    .card-image-full {
        width: 100%;
        filter: brightness(50%);
    }
    .card-title {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    .header-frame {
        width: 100%;
    }
    .header-nav-list-menu {
        display: none;
    }
    .footer {
        width: 100%;
    }
    .card-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .card-container-full {
        width: 100%;
    }
    .mobile-only {
        display: inline;
    }
    .desktop-only {
        display: none;
    }
}

/* iPads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .card-image-full {
        width: 100%;
        filter: brightness(50%);
    }
    .card-title {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    .header-frame {
        width: 100%;
    }
    .header-nav-list-menu {
        display: none;
    }
    .footer {
        width: 100%;
    }
    .card-container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .card-container-full {
        width: 100%;
    }
    .mobile-only {
        display: inline;
    }
    .desktop-only {
        display: none;
    }
}

/* Desktops and laptops */
@media only screen 
and (min-width : 1224px) {
    .card-image-full {
        border-right: 1px solid white;
        width: 33%;
        filter: brightness(100%);
    }
    .card-image-modal {
        border-right: 1px solid white;
        width: 33%;
        filter: brightness(100%);
    }
    .card-title {
        margin-left: 10%;
    }
    .header-frame {
        width: 80%;
    }
    #content {
        width: 80%;
    }
    .header-nav-list-menu {
        display: flex;
    }
    .footer {
        width: 80%;
    }
    .card-container {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
    }
    .card-container-full {
        width: 80%;
    }
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}

/* Large screens */
@media only screen 
and (min-width : 1824px) {
    .card-image-full {
        border-right: 1px solid white;
        width: 33%;
        filter: brightness(100%);
    }
    .card-title {
        margin-left: 10%;
    }
    #content {
        width: 80%;
    }
    .header-frame {
        width: 80%;
    }
    .header-nav-list-menu {
        display: flex;
    }
    .footer {
        width: 80%;
    }
    .card-container {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
    }
    .card-container-full {
        width: 80%;
    }
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
    
}